action-msgs==2.0.3
action-tutorials-interfaces==0.33.10
action-tutorials-py==0.33.10
actionlib-msgs==5.3.7
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
alembic==1.19.2
ament-cmake-test==2.5.6
ament-copyright==0.17.5
ament-cppcheck==0.17.5
ament-cpplint==0.17.5
ament-flake8==0.17.5
ament-index-python==1.8.2
ament-lint==0.17.5
ament-lint-cmake==0.17.5
ament-package==0.16.5
ament-pep257==0.17.5
ament-uncrustify==0.17.5
ament-xmllint==0.17.5
angles==1.16.1
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
appdirs==1.4.4
attrs==26.1.0
blinker==1.9.0
builtin-interfaces==2.0.3
cachetools==7.1.8
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
cloudpickle==3.1.2
composition-interfaces==2.0.3
contourpy==1.3.3
cryptography==50.0.1
cv-bridge==4.1.0
cycler==0.12.1
databricks-sdk==0.135.0
defusedxml==0.7.1
demo-nodes-py==0.33.10
deprecation==2.1.0
diagnostic-msgs==5.3.7
distro==1.9.0
docker==7.2.0
domain-coordinator==0.12.0
dynaconf==3.3.5
evidently==0.7.21
example-interfaces==0.12.0
examples-rclpy-executors==0.19.7
examples-rclpy-minimal-action-client==0.19.7
examples-rclpy-minimal-action-server==0.19.7
examples-rclpy-minimal-client==0.19.7
examples-rclpy-minimal-publisher==0.19.7
examples-rclpy-minimal-service==0.19.7
examples-rclpy-minimal-subscriber==0.19.7
Faker==40.38.0
fastapi==0.141.1
filelock==3.32.5
Flask==3.1.3
flask-cors==6.0.5
fonttools==4.64.0
formulaic==1.2.2
frozenlist==1.8.0
fsspec==2026.7.0
geometry-msgs==5.3.7
gitdb==4.0.12
GitPython==3.1.61
google-auth==2.57.1
graphene==3.4.3
graphql-core==3.2.12
graphql-relay==3.2.0
greenlet==3.5.5
gunicorn==26.2.0
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
huey==3.4.0
idna==3.19
image-geometry==4.1.0
importlib_metadata==9.0.1
iniconfig==2.3.0
interactive-markers==2.5.5
interface_meta==2.0.1
iterative-telemetry==0.0.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.6.0
kiwisolver==1.5.1
laser-geometry==2.7.2
launch==3.4.10
launch-ros==0.26.11
launch-testing==3.4.10
launch-testing-ros==0.26.11
launch-xml==3.4.10
launch-yaml==3.4.10
lifecycle-msgs==2.0.3
litestar==2.24.0
litestar-htmx==0.5.0
logging-demo==0.33.10
Mako==1.4.1
map-msgs==2.4.1
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.1
mdurl==0.1.2
message-filters==4.11.12
mlflow==3.16.0
mlflow-skinny==3.16.0
mlflow-tracing==3.16.0
msgspec==0.21.1
multidict==6.7.1
multipart==2.0.0
mypy_extensions==1.1.0
narwhals==2.25.0
nav-msgs==5.3.7
nltk==3.10.3
numpy==2.5.2
opentelemetry-api==1.44.0
opentelemetry-proto==1.44.0
opentelemetry-sdk==1.44.0
opentelemetry-semantic-conventions==0.65b0
osrf-pycommon==2.1.7
packaging==26.3
pandas==3.0.5
patsy==1.0.3
pcl-msgs==1.0.0
pendulum-msgs==0.33.10
pillow==12.3.0
plotly==5.24.1
pluggy==1.6.0
polyfactory==3.3.0
prettytable==3.18.0
prometheus_client==0.26.0
propcache==0.5.2
protobuf==6.33.6
pyarrow==25.0.1
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pyparsing==3.3.2
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
python-qt-binding==2.2.2
PyYAML==6.0.3
qt-dotgraph==2.7.6
qt-gui==2.7.6
qt-gui-cpp==2.7.6
qt-gui-py-common==2.7.6
quality-of-service-demo-py==0.33.10
rcl-interfaces==2.0.3
rclpy==7.1.11
rcutils==6.7.5
regex==2026.9.3
requests==2.34.2
resource-retriever==3.4.4
rich==15.0.0
rich-click==1.9.9
rmw-dds-common==3.1.1
ros2action==0.32.9
ros2bag==0.26.10
ros2bag-mcap-cli==0.26.10
ros2bag-sqlite3-cli==0.26.10
ros2cli==0.32.9
ros2component==0.32.9
ros2doctor==0.32.9
ros2interface==0.32.9
ros2launch==0.26.11
ros2lifecycle==0.32.9
ros2multicast==0.32.9
ros2node==0.32.9
ros2param==0.32.9
ros2pkg==0.32.9
ros2plugin==5.4.5
ros2run==0.32.9
ros2service==0.32.9
ros2topic==0.32.9
rosbag2-interfaces==0.26.10
rosbag2-py==0.26.10
rosgraph-msgs==2.0.3
rosidl-adapter==4.6.7
rosidl-cli==4.6.7
rosidl-cmake==4.6.7
rosidl-generator-c==4.6.7
rosidl-generator-cpp==4.6.7
rosidl-generator-py==0.22.2
rosidl-generator-rs==0.4.11
rosidl-generator-type-description==4.6.7
rosidl-parser==4.6.7
rosidl-pycommon==4.6.7
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.3
rosidl-typesupport-fastrtps-cpp==3.6.3
rosidl-typesupport-introspection-c==4.6.7
rosidl-typesupport-introspection-cpp==4.6.7
rpyutils==0.4.2
rqt-action==2.2.1
rqt-bag==1.5.6
rqt-bag-plugins==1.5.6
rqt-console==2.2.2
rqt-graph==1.5.6
rqt-gui==1.6.3
rqt-gui-py==1.6.3
rqt-msg==1.5.2
rqt-plot==1.4.5
rqt-publisher==1.7.3
rqt-py-common==1.6.3
rqt-py-console==1.2.3
rqt-reconfigure==1.6.4
rqt-service-caller==1.2.2
rqt-shell==1.2.3
rqt-srv==1.2.3
rqt-topic==1.7.5
scikit-learn==1.9.0
scipy==1.18.1
sensor-msgs==5.3.7
sensor-msgs-py==5.3.7
service-msgs==2.0.3
shape-msgs==5.3.7
shellingham==1.5.4
six==1.17.0
skops==0.14.0
smmap==5.0.3
sniffio==1.3.1
SQLAlchemy==2.0.52
sqlparse==0.6.0
sros2==0.13.6
starlette==1.6.0
statistics-msgs==2.0.3
statsmodels==0.15.0
std-msgs==5.3.7
std-srvs==5.3.7
stereo-msgs==5.3.7
teleop-twist-keyboard==2.4.1
tenacity==9.1.4
tf2-geometry-msgs==0.36.20
tf2-kdl==0.36.20
tf2-msgs==0.36.20
tf2-py==0.36.20
tf2-ros-py==0.36.20
tf2-sensor-msgs==0.36.20
tf2-tools==0.36.20
threadpoolctl==3.6.0
topic-monitor==0.33.10
tqdm==4.70.0
trajectory-msgs==5.3.7
turtlesim==1.8.3
type-description-interfaces==2.0.3
typer==0.27.2
typing-inspect==0.9.0
typing-inspection==0.4.4
typing_extensions==4.16.0
ujson==6.0.0
unique-identifier-msgs==2.5.0
urllib3==2.7.0
uuid6==2025.0.1
uvicorn==0.52.4
uvloop==0.22.1
visualization-msgs==5.3.7
watchdog==6.0.0
watchfiles==1.2.0
wcwidth==0.8.3
websockets==17.1
Werkzeug==3.1.8
wrapt==2.4.1rc1
yarl==1.24.5
zipp==4.1.0
